.h1{
    text-align: center;
}
body {
    background:linear-gradient(red, rgb(6, 6, 179));
    height: 2173px;
  }
.circle{
    width: 800px;
    height: 285px;

    
    background-color:rgb(255, 255, 255);
    border-radius: 25px
}
.circle1{
    width: 675px;
    height: 55px;

    
    background-color:rgb(255, 255, 255);
    border-radius: 17px
}
.circle2{
    width: 675px;
    height: 175px;

    
    background-color:rgb(255, 255, 255);
    border-radius: 17px
}

.imgsize{
    padding-left: 800px;
}
.img2{
    padding: 30px;
}
.img3{
    padding-left:  800px; ;
}
a {
    text-decoration:none;
    color: aliceblue;
    font-size: 14px;
    margin-left: 1300px;
  }