body {
    background-color:#4682B4;

    background:linear-gradient(red, rgb(6, 6, 179));
    height: 2240px;
    
     }
.circel{
    width: 800px;
    height: 125px;
    
    background-color:#ffffff;
    border-radius: 25px
}
.circel1{
    width: 800px;
    height: 125px;
    
    background-color:#ffffff;
    border-radius: 25px
}
.circel2{
    width: 800px;
    height: 125px;
    
    background-color:#ffffff;
    border-radius: 25px
}
.circel3{
    width: 800px;
    height: 100px;
    
    background-color:#ffffff;
    border-radius: 25px
}
.circel4{
    width: 800px;
    height: 200px;
    
    background-color:#ffffff;
    border-radius: 25px
}
.img{
    padding-left: 18px;
}
.img1{
    padding-left: 89;
}
.img2{
    padding-left: 360px;
}
a {
    text-decoration:none;
    color: aliceblue;
    font-size: 14px;
    margin-left: 1300px;
  }